doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.tailwindcss.com")
    link(href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css", rel="stylesheet")
    link(href='https://cdn.jsdelivr.net/npm/openlayers@4.6.5/dist/ol.min.css' rel='stylesheet')
    script.
      tailwind.config = {
        separator: '--',
      };
  body.p-20.bg-sky-900
    block content
